#!/bin/sh

mkd() {
    mkdir -p "$1"
    cd "$1"
}

aur() {
	cd "$HOME/.aur"
}

dot() {
    cd "$HOME/dotfiles"
}

pacs() {
    pacman -Slq | fzf -i -m --tac --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S
}

updatevim() {
    SHELL=(which sh) vim +BundleInstall! +BundleClean +qall
}
