[alias]
    br = branch
    ci = commit
    cl = clone
    co = checkout
    d = diff
    last = log -1 HEAD
    s = status
    unstage = reset HEAD --
[core]
    excludesfile = ~/.gitignore
[include]
    path = ~/.gitconfig.local
